.dobuuk-availability {
    height: 600px;
    width: 100%;
}

@media (min-width: 768px) and (min-height: 1080px) {
    .dobuuk-availability {
        height: 70vh;
    }
}

.dobuuk-availability iframe {
    border: 1px solid #e2e8f0;
}
