@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-padding-top: 100px; }

body {
    @apply flex flex-col items-center min-h-screen w-screen bg-gradient-to-r from-slate-400 via-slate-200 to-slate-400;
}

header {
    @apply flex flex-col w-full gap-1 bg-gradient-to-b from-slate-800 to-black border-b border-b-slate-200 shadow;
}

header a {
    @apply px-10 pt-10;
}

h1 {
    @apply text-xl text-slate-200 p-5;
}

nav {
    @apply flex gap-1 sticky top-0 self-center bg-slate-50/50 mb-5 border-b border-x border-slate-50 backdrop-blur-md z-10 shadow-md;
}

nav ul {
    @apply flex flex-wrap;
}

nav li {
    @apply p-2 underline hover:bg-slate-800 hover:text-yellow-200;
}

main {
    @apply prose prose-slate p-5 rounded shadow bg-gradient-to-r via-neutral-200 from-neutral-200 to-neutral-200 border border-slate-50;
}

main figure {
    width: max-content;
    max-width: 100vw;
    margin-left: 50% !important;
    transform: translateX(-50%);
    @apply shadow bg-slate-50 p-1 border border-black;
}

main input[type="range"] {
  @apply w-full;
}

main button {
  @apply bg-blue-50 hover:bg-blue-400 font-medium rounded shadow-md border-white p-2 border;
}

div.asciinemaFigure {
  width: 80vw;
  max-width: 80em;
  margin-left: 50% !important;
  transform: translateX(-50%);
  @apply shadow bg-slate-50 p-1 border border-black;
}

div.sourceCode {
    width: max-content;
    max-width: 100vw;
    margin-left: 50% !important;
    transform: translateX(-50%);
}

pre.sourceCode {
    width: max-content;
    max-width: none;
}

footer {
    @apply py-5;
}

div.message {
    @apply border rounded shadow px-5;
}

div.is-warning {
    @apply bg-red-400
}

div.is-info {
    @apply bg-sky-400 text-white;
}
